body { margin: 0;
font-famaly: arial black;
font-size:14px 
}

#menu-wrapper ul{padding:0;
list-style: nome;
	
}

#hmenu> li{
	display:inline=block;
}

#hmenu> li> a{
	display: block;
	width: 90px;
}
li ul{
	position:absolutr;
}

 li ul{
 position-absolute;
 display:none;

 } 
 sub-menu a{
 display:block;
 padding: 10px 5px;
 widh: 130px;

 }

 li:haver ul {
display: block;
 }

 #menu-wrapper, li ul{
 background: #333;
 }

 #hmenu
 width:autor;

 #hmenu a{
 color:#fff

 text-decoration: nome;
 font-weight: bold;

 }
 	#hmenu li: harer{
 		background:bottom #a3cd3a;
 		text-shadoco: 0 0 2px #000;
 	}
 
	
